@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-display: swap;
}
