.card-started {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  transition: all 0.5s linear;
  background-color: #fff;
  border-radius: 10px;

  &--position {
    position: relative;
    left: 0;
    transform: translateX(0);
  }

  &__wrapper {
    width: 480px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }

  &__img-box {
    background-image: url("../images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 100px;
      background-color: #fff;
      bottom: -75px;
      left: -15px;
      transform: rotate(12deg);
    }
    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 100px;
      background-color: #fff;
      bottom: -75px;
      right: -15px;
      transform: rotate(-12deg);
    }
  }

  &__img {
    width: 300px;
    height: 386px;
    margin: 0 auto;
  }

  &__content-text {
    padding: 24px 0;
    height: 200px;
  }

  &__autor {
    font-size: 34px;
    line-height: 40px;
    @extend %ubuntu-700;
    color: $nav;
  }

  &__prof {
    margin: 25px 0;
  }

  &__prof-text {
    font-size: 24px;
    letter-spacing: 5px;
    animation: text-flicker 9s linear infinite;
  }

  &__prof-offset {
    animation: letter-flicker 9s linear infinite;
  }

  &__social-list {
    display: flex;
    justify-content: center;
  }

  &__social-item {
    & + & {
      margin-left: 25px;
    }
  }

  &__social-link {
    svg {
      transition: width 0.2s linear, height 0.2s linear;
    }
    path {
      transition: fill 0.2s linear;
    }
    &:hover {
      svg {
        width: 25pt;
        height: 25pt;
      }
      path {
        fill: $accent;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    font-size: 24px;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@media (max-width: 992px) {
  .card-started {
    display: block;
    transform: none;
    background-color: transparent;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;

    &--position {
      display: block;
      transform: none;
    }

    &__wrapper {
      min-width: 480px;
      width: 100%;
      border-radius: 10px 10px 0 0;
      box-shadow: none;
      background-color: inherit;
    }

    &__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
    }

    &__img-box {
      background-image: none;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-started {
    &__wrapper {
      min-width: auto;
    }

    &__img {
      max-width: 160px;
      width: 100%;
    }

    &__autor {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

@media (max-width: 576px) {
  .card-started {
    position: relative;
    background-image: none;
    height: 100vh;

    &__content {
      padding-top: 60px;
      position: relative;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: radial-gradient(
          ellipse at right,
          #ddd 0%,
          rgba(255, 255, 255, 0) 70%
        );
        left: 0px;
        bottom: 0;
      }
    }

    &__content-img {
      width: 100%;
      height: auto;
    }

    &__img-box {
      overflow: inherit;
    }

    &__img-wrapper {
      position: relative;
      display: block;
    }

    &__img {
      max-width: 100%;
      width: 200px;
      height: 200px;
      object-fit: contain;
      border: 3px solid #a67c9e;
      border-radius: 50%;
      background-color: #687eac;
    }

    &__prof-text {
      font-size: 20px;
      letter-spacing: 2px;
    }

    &__social-list {
      width: 100px;
      margin: 0 auto;
    }

    &__social-item {
      & + & {
        margin-left: 15px;
      }
    }
  }
}
