.card {
  position: absolute;
  top: 25px;
  bottom: 25px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  border-radius: 10px;
  transition: all 0.7s ease-in-out 0.1s;
  transform: translateX(-200px);

  &--open {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    display: block;
    transform: translateX(-6px);
    transition: all 0.7s ease-in-out 0.1s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #fff;
    left: -11px;

    z-index: 10;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .card {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transform: none;
    border-radius: inherit;
    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .card {
    background-color: rgba(255, 255, 255, 0);
  }
}
