.contact {
  &__inner {
    @extend %inner-card;
  }

  #map {
    width: 100%;
    height: 220px;
  }

  &__map {
    margin-bottom: 20px;
  }

  &__info {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    @extend %border-right;
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: inherit;
    &--messenger {
      display: inline-block;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__address {
    font-style: normal;
  }

  &__item-text {
    background-color: $accent;
    padding: 0px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    line-height: 24px;
  }

  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    @extend %border-left;
  }

  &__form {
    position: relative;
    padding-bottom: 10px;
    @extend %border-right;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 525, 0.7) url("../images/sendmail.gif") center /
        100px no-repeat;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    }
  }

  .sending.contact__form::before {
    opacity: 1;
    visibility: visible;
  }

  &__form-box {
    display: flex;
    margin-bottom: 15px;
  }

  &__input {
    padding: 0 40px 0 15px;
    // display: block;
    width: 100%;
    height: 50px;
    margin-right: 10px;
    border: none;
    background-color: rgba(247, 238, 227, 0.4);
    border-radius: 10px;
    position: relative;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      border: 1px solid #18a0d8;
    }

    &[placeholder] {
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 95% center;
    }

    &--name[placeholder] {
      background-image: url("../images/icons/user.svg");
    }
    &--email[placeholder] {
      background-image: url("../images/icons/mail.svg");
    }
  }
  .js-validate-error-field:nth-child(3) {
    margin-right: 0px;
  }

  .js-validate-error-label {
    display: none;
  }

  &__input.error {
    border: 1px solid #ff0000;
  }

  &__input.valid {
    border: 1px solid #0e8600;
  }

  &__textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 15px 30px 15px 15px;
    margin-bottom: 15px;
    border: none;
    background-color: rgba(247, 238, 227, 0.4);
    border-radius: 10px;
    position: relative;
    outline: none;

    &:focus {
      border: 1px solid #18a0d8;
    }

    &[placeholder] {
      background-image: url("../images/icons/message.svg");
      background-repeat: no-repeat;
      background-position: 98% 15%;
      background-size: 18px;
    }
  }

  &__textarea.error {
    border: 1px solid #ff0000;
  }

  &__textarea.valid {
    border: 1px solid #0e8600;
  }

  &__btn {
    width: 100%;
    height: 50px;
    padding: 15px 15px;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    background-color: $accent;
    border-radius: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s linear, top 0.3 linear;
    position: relative;
    color: #fff;
    &:hover {
      background-color: darken($accent, 10%);
    }

    &:active {
      top: 5px;
    }
  }

  @extend %scrollbar;
}

@media (max-width: 576px) {
  .contact {
    &__item {
      display: block;
    }

    &__item-text {
      display: inline-block;
      margin-bottom: 10px;
    }

    &__link {
      display: block;
      &--messenger {
        display: inline-block;
      }
    }

    &__form-box {
      display: block;
      margin-bottom: 0;
    }

    &__input {
      margin-bottom: 15px;
    }

    &__textarea {
      &[placeholder] {
        background-position: 95% 15%;
      }
    }
  }
}
