.experience {
  max-width: 600px;
  width: 100%;
  &__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    @extend %border-right;
  }

  &__items {
    padding: 10px 0;
    & ul {
      padding-bottom: 10px;
      display: inline-block;
    }
  }

  &__item {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    &:nth-child(odd) {
      @extend %border-left;
    }
    &:nth-child(even) {
      @extend %border-right;
    }
  }

  &__period,
  &__specialization {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__span {
    @extend %outline;
    margin-right: 10px;
  }

  &__post-span {
    @extend %outline;
    float: left;
    margin: 0 90px 0px 0;
  }

  &__post-text {
    text-align: justify;
  }
}

@media (max-width: 576px) {
  .experience {
    &__period,
    &__specialization {
      display: block;
    }

    &__span {
      margin-bottom: 10px;
    }

    &__post-span {
      float: none;
      margin-bottom: 10px;
    }
  }
}
